*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.links{
    text-decoration: none;
}

.maindiv{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
nav{
    max-width: 1200px;
    width: 100%;
    height: 105px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-part img{
    max-width: 300px;
    width: 100%;
    height: 100px;
}
.link-box a{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #000;
    transition: ease 0.4s;
}
.link-box{
    margin-left: 90px;
    display: flex;
    gap: 30px;
}
.link-box a:hover{
    scale: 1.05;
    transition: ease 0.4s;
    color: red;
}
.number{
    max-width: 200px;
    width: 100%;
}
.number p{
    text-align: center;
    padding-bottom: 5px;
}



.hero{
    max-width: 1400px;
    width: 100%;
    height: 700px;
    background: url(architecture-gf0bd132f8_1920\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
}
.hero h2{
    padding-top: 220px;
    max-width: 650px;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}
.tht{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 50px auto auto auto;
}
.tht h2{
    cursor: pointer;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 78px;
    text-transform: uppercase;
    letter-spacing: 0em;
    text-align: left;
}
.tht p{
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #666666;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 10px;
    transition: ease 0.5s;
}
.tht span{
    font-size: 25px;
    color: #666666;
    transition: ease 0.5s;
}
.tht p:hover{
    color: red;
    transition: ease 0.5s;
}
.tht p:hover > span{
    color: red;
    transition: ease 0.5s;
}

.service{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* one */
.service__one{
    max-width: 270px;
    width: 100%;
    height: 300px;
    background: url(painting-a-deck-vs-staining\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.service__one p{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-left: 20px;
    padding-top: 210px;
}
/* two */
.service__two{
    max-width: 270px;
    width: 100%;
    height: 300px;
    background: url(exterior-house-painting-in-winter\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.service__two p{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-left: 20px;
    padding-top: 210px;
    max-width: 150px;
}

/* three */
.service__three{
    max-width: 270px;
    width: 100%;
    height: 300px;
    background: url(Untitled-1\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.service__three p{
    max-width: 150px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-left: 20px;
    padding-top: 210px;
}

/* four */
.service__four{
    max-width: 270px;
    width: 100%;
    height: 300px;
    background: url(clean-garage-178594527-ed57fd7843ba42f59bb637cf7cf5d47d\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.service__four p{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-left: 20px;
    padding-top: 210px;
}

.number-part{
    margin-top: 30px;
    max-width: 1400px;
    width: 100%;
    height: 500px;
    background: url(7589.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.number-part__cont{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.number-part__cont h2{
    padding-top: 60px;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.20454545319080353px;
    text-align: left;
    color: white;
}
.number-part__cont p{
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.20454545319080353px;
    text-align: left;
    color: white;
}


.raqamlar{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.bir{
    margin-top: 30px;
    max-width: 200px;
    width: 100%;
    height: 200px;
    background-color: #ed8534;
}
.bir h2{
    font-size: 100px;
    padding-left: 20px;
    padding-top: 30px;
}
.bir p{
    font-size: 25px;
    padding-left: 20px;
    padding-top: 30px;
}

.double-images{
    margin-top: 50px;
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.double-images img{
    max-width: 680px;
    width: 100%;
}
.cont{
    max-width: 60px;
    width: 100%;
    margin: 38px auto auto auto;
}
.dots{
    display: flex;
    gap: 7px;
}
.dots span{
    color: #c4c4c4;
    font-size: 10px;
    transition: ease 0.5s;
}
.fa-circle:hover{
    color: #ed8534;
    transition: ease 0.5s;
}