*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.links{
    text-decoration: none;
}

.maindiv{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

nav{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-part img{
    max-width: 300px;
    width: 100%;
    height: 100px;
}
.link-box a{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #000;
    transition: ease 0.4s;
}
.link-box{
    margin-left: 140px;
    display: flex;
    gap: 30px;
}
.link-box a:hover{
    scale: 1.05;
    transition: ease 0.4s;
    color: red;
}
.number{
    max-width: 200px;
    width: 100%;
}
.number p{
    text-align: center;
    padding-bottom: 5px;
}

.hero{
    max-width: 1400px;
    width: 100%;
    height: 700px;
    background: url(architecture-gf0bd132f8_1920\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.hero h2{
    max-width: 650px;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 200px;
    color: white;
    margin-left: 100px;
}